a {
  text-decoration: none;
}
.application, .caption, .body-1, .body-2, .subheading, .title, .headline, .display-1, .display-2, .display-3, display-4 {
  font-family: 'Poppins', sans-serif !important
}
.text-shadow {
  text-shadow: 2px 2px 15px #000
}
.text-smooth {
  font-family: 'Courgette', cursive !important
}
