$duration:  1.8s;
$dimension: 3em;

body {
  background: #304165;
}

.preloader-container-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 78%;
  width: 100%;
  .preloader-text {
    font-family: 'Poppins', sans-serif;
    padding: 0 5px;
    font-size: 24px;
    text-align: center;
    width: 100%;
    color: white;
  }
}

.preloader-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  .layer {
    display: block;
    position: absolute;
    height: $dimension;
    width: $dimension;
    box-shadow: 3px 3px 2px rgba(0,0,0,.2);
    transform:
      rotateX(50deg)
      rotateY(0deg)
      rotateZ(45deg);
    &:nth-of-type(1) {
      background: #37332f;
      margin-top: $dimension/2;
      animation: movedown $duration cubic-bezier(0.39, 0.575, 0.565, 1) $duration/2 infinite normal;
    }
    &:nth-of-type(2) {
      background: #5a96bc;
      margin-top: $dimension/4;
    }
    &:nth-of-type(3) {
      background: rgba(255,255,255,.6);
      animation: moveup $duration cubic-bezier(0.39, 0.575, 0.565, 1) infinite normal;
    }
  }
}

@keyframes moveup {
  0%, 60%, 100% {
    transform:
      rotateX(50deg)
      rotateY(0deg)
      rotateZ(45deg)
      translateZ(0);
  }
  25% {
    transform:
      rotateX(50deg)
      rotateY(0deg)
      rotateZ(45deg)
      translateZ(1em);
  }
}

@keyframes movedown {
  0%, 60%, 100% {
    transform:
      rotateX(50deg)
      rotateY(0deg)
      rotateZ(45deg)
      translateZ(0);
  }
  25% {
    transform:
      rotateX(50deg)
      rotateY(0deg)
      rotateZ(45deg)
      translateZ(-1em);
  }
}
